@font-face {
	 font-family: "GTEestiProText";
	 src: url("/assets/fonts/GTEestiProText/GTEestiProText-Light.otf");
	 font-weight: 300;
	 font-style: normal;
}
 @font-face {
	 font-family: "GTEestiProText";
	 src: url("/assets/fonts/GTEestiProText/GTEestiProText-LightItalic.otf");
	 font-weight: 300;
	 font-style: italic;
}
 @font-face {
	 font-family: "GTEestiProText";
	 src: url("/assets/fonts/GTEestiProText/GTEestiProText-Regular.otf");
	 font-weight: 400;
	 font-style: normal;
}
 @font-face {
	 font-family: "GTEestiProText";
	 src: url("/assets/fonts/GTEestiProText/GTEestiProText-RegularItalic.otf");
	 font-weight: 400;
	 font-style: italic;
}
 @font-face {
	 font-family: "GTEestiProText";
	 src: url("/assets/fonts/GTEestiProText/GTEestiProText-Medium.otf");
	 font-weight: 500;
	 font-style: normal;
}
 @font-face {
	 font-family: "GTEestiProText";
	 src: url("/assets/fonts/GTEestiProText/GTEestiProText-MediumItalic.otf");
	 font-weight: 500;
	 font-style: italic;
}
 @font-face {
	 font-family: "Gilroy";
	 src: url("/assets/fonts/Gilroy/Gilroy-SemiBold.eot"), url("/assets/fonts/Gilroy/Gilroy-SemiBold.ttf"), url("/assets/fonts/Gilroy/Gilroy-SemiBold.woff");
	 font-weight: 600;
	 font-style: normal;
}
 @font-face {
	 font-family: "Gilroy";
	 src: url("/assets/fonts/Gilroy/Gilroy-SemiBoldItalic.eot"), url("/assets/fonts/Gilroy/Gilroy-SemiBoldItalic.ttf"), url("/assets/fonts/Gilroy/Gilroy-SemiBoldItalic.woff");
	 font-weight: 600;
	 font-style: italic;
}
 @font-face {
	 font-family: "Gilroy";
	 src: url("/assets/fonts/Gilroy/Gilroy-Bold.eot"), url("/assets/fonts/Gilroy/Gilroy-Bold.ttf"), url("/assets/fonts/Gilroy/Gilroy-Bold.woff");
	 font-weight: 700;
	 font-style: normal;
}
 @font-face {
	 font-family: "Gilroy";
	 src: url("/assets/fonts/Gilroy/Gilroy-BoldItalic.eot"), url("/assets/fonts/Gilroy/Gilroy-BoldItalic.ttf"), url("/assets/fonts/Gilroy/Gilroy-BoldItalic.woff");
	 font-weight: 700;
	 font-style: italic;
}
 body {
	 margin: 0px;
	 padding: 0px;
}
 *, *::before, *::after {
	 box-sizing: border-box;
}
 .confirm__main {
	 width: 100vw;
	 height: 100vh;
	 display: flex;
	 flex-direction: coloumn;
	 justify-content: center;
	 align-items: center;
}
 .confirm__background {
	 position: absolute;
	 width: 100%;
	 height: 100%;
	 top: 0px;
	 left: 0px;
}
 .confirm__container {
	 width: 90%;
	 margin: 0 auto;
	 max-width: 466px;
	 border-radius: 8px;
	 padding: 30px;
	 background: linear-gradient(209.66deg, #1c2440 9.35%, rgba(29, 37, 63, 0) 49.24%), linear-gradient(339.48deg, #1d2442 22.12%, rgba(25, 33, 60, 0) 51.89%), linear-gradient(0deg, rgba(32, 42, 70, 0.45), rgba(32, 42, 70, 0.45)), #111a31;
	 box-shadow: 1px 4px 50px rgba(9, 11, 21, 0.35);
	 color: white;
	 display: flex;
	 flex-direction: column;
	 align-items: flex-start;
}
 .confirm__container.success {
	 position: relative;
}
 .confirm__container.success::before {
	 content: "";
	 width: 100%;
	 height: 7px;
	 border-radius: 6px 6px 0px 0px;
	 background-color: #fb4747;
	 position: absolute;
	 top: 0px;
	 left: 0;
}
 .confirm__container h1 {
	 margin-top: 0px;
	 margin-bottom: 10px;
}
 .confirm__container.reset-pass h1 {
	 margin-bottom: 24px;
}
 .confirm__container span {
	 line-height: 1.61;
	 max-width: 90%;
}
 .confirm__container .link {
	 margin-top: 14px;
	 display: block;
	 padding: 12px 24px;
	 border-radius: 6px;
	 color: white;
	 background-color: #26314e;
	 text-decoration: none;
}
 html {
	 font-size: 14px;
	 font-weight: 400;
	 font-family: "GTEestiProText", "Gilroy", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
 .reset-password-form {
	 display: flex;
	 flex-direction: column;
	 width: 100%;
}
 .reset-password-form__label {
	 width: 100%;
	 display: flex;
	 flex-direction: column;
	 position: relative;
	 margin-bottom: 24px;
}
 .reset-password-form__label__label {
	 font-size: 13px;
	 color: #6f7897;
	 margin-bottom: 4px;
	 font-family: GTEestiProText, sans-serif;
	 font-style: normal;
	 font-weight: normal;
	 font-size: 12px;
	 line-height: 14px;
	 letter-spacing: 0.25px;
	 padding-left: 8px;
}
 .reset-password-form__label__input {
	 background: linear-gradient(180deg, rgba(16, 26, 53, 0) 0%, rgba(17, 24, 43, 0.8) 100%), #121727;
	 border-radius: 3px;
	 border: 0px;
	 padding: 12px 24px;
	 color: white;
	 height: 45px;
	 vertical-align: center;
}
 .reset-password-form__label__error-message {
	 display: block;
	 position: absolute;
	 padding: 10px 14px;
	 background-color: #fb4747;
	 bottom: -50%;
	 right: 0px;
	 border-radius: 6px;
}
 .reset-password-form__submit-button {
	 padding: 16px 32px;
	 border: none;
	 border-radius: 6px;
	 background-color: #26314e;
	 color: white;
	 text-transform: uppercase;
	 font-family: Gilroy, sans-serif;
	 font-size: 11px;
	 line-height: 13px;
	 text-align: center;
	 letter-spacing: 1.5px;
}
 