<main class="confirm__main">
    <link rel="stylesheet" href="forgot_password.css">

    <div class="confirm__container reset-pass">
        <h1>Enter new password</h1>
        <form action="/reset/password/{tokenId}" method="POST" class="reset-password-form" onsubmit="handleSubmit(event)"">
           <label class=" reset-password-form__label">
            <span class="reset-password-form__label__label">New Password</span>
            <input type="password" class="reset-password-form__label__input" />
            <span class="reset-password-form__label__error-message">Error appeared</span>
            </label>
            <label class="reset-password-form__label">
                <span class="reset-password-form__label__label">Confirm Password </span>
                <input type="password" class="reset-password-form__label__input" />
                <span class="reset-passowrd-form__label__error-message"></span>
            </label>
            <button type="submit" class="reset-password-form__submit-button">
                change password
            </button>
        </form>
    </div>
    <script>
        function handleSubmit(event) {
            console.log(event)
        }

    </script>
</main>